# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor
.idea/
*.swp
*.swo
*~
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Env / secrets
.env
.env.*
!.env.example

# Build output
dist/
build/
coverage/
